<ion-view class="bgPeople" view-title="Подбор маршрута">
  <ion-content has-header="true" padding="true">
    <div class="row row-center">
      <div class="col col-center">
        <div class="dashboard">
            <div class = "majorScreen">
                <a href="#/tab/quest/1">
                    <button class="button button-outline button-balanced killerButton">
                        Outlined Button
                    </button>
                </a>
                <a href="#/tab/tours">
                    <button class="button button-full button-block button-calm">
                        Block Button
                    </button>
                </a>
            </div>
            <style>
                .killerButton {
                  width:100%;
                  border-radius: 0;
                }
                .majorScreen {
                  margin-top: 90%;
                }
                /*.bar-footer {*/
                  /*background: none;*/
                /*}*/
                .bgPeople{
                  background: url("img/bg.jpg");
                  background-position: 0, 0;
                  background-repeat:no-repeat;
                }
                /*.tabs {*/
                    /*top: 100% !important;*/
                /*}*/
                /*.nav-bar-container {*/
                    /*display: none;*/
                /*}*/
                /*button {*/
                  /*cursor: pointer*/
                /*}*/
            </style>
        </div>
  </ion-content>
</ion-view>
