<ion-view view-title="Подбор маршрута">
  <ion-content has-header="true" padding="true" scroll="false">
    <!--<div class="row row-center">-->
      <!--<div class="col col-center">-->
        <div class="list list-inset list-center">
          <h2 class="text-center"> Выберите вариант подбора маршрута </h2>
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Введите любое слово">
          </label>
        </div>
        <!--<a class="item item-text-wrap" href="#/tab/quest">-->
          <!--<button class="button button-block button-positive">-->
            <!--Block Button-->
          <!--</button>-->
        <!--</a>-->
        <!--<div class="item item-text-wrap">-->
          <!--<button class="button button-block button-energized">-->
            <!--Randomize-->
          <!--</button>-->
        <!--</div>-->
          <h3 class="padding-vertical  text-center "> или </h3>
          <a href="#/tab/quest">
            <button class="button button-balanced  button-full">
              Ответить на пару простых вопросов
            </button>
          </a>
          <h3 class="padding-vertical text-center "> или </h3>
          <button class="button button-calm button-full">
           Случаный пункт назначения
          </button>
        </div>
      <!--</div>-->
    <!--</div>-->
  </ion-content>
</ion-view>
