<ion-view name="tab-quest" view-title="Результаты поиска">
    <ion-content class="padding-vertical">
        <ion-checkbox ng-model="isChecked">Горные лыжи</ion-checkbox>
        <ion-checkbox ng-model="isChecked">Прогулка по лесу</ion-checkbox>
        <ion-checkbox ng-model="isChecked">Прогулка на вертолете</ion-checkbox>
        <ion-checkbox ng-model="isChecked">Вечеринки на пляже</ion-checkbox>
        <ion-checkbox ng-model="isChecked">Катание на сноуборде</ion-checkbox>
        <ion-checkbox ng-model="isChecked">Поход в горы</ion-checkbox>
        <ion-checkbox ng-model="isChecked">прыжки с парашютом</ion-checkbox>
        <ion-checkbox ng-model="isChecked">Поход в горы</ion-checkbox>
        <ion-checkbox ng-model="isChecked">Прогулка на лошадях</ion-checkbox>
        <a class="item item-text-wrap" >
            <button class="button button-block button-positive">
                Block Button
            </button>
        </a>
    </ion-content>
</ion-view>