<ion-view name="tab-quest" view-title="Результаты поиска">
    <ion-content>
        <ion-radio ng-model="quest.activity" ng-value="'active'">Active</ion-radio>
        <ion-radio ng-model="quest.activity" ng-value="'passive'">Passive</ion-radio>
        <ion-radio ng-model="quest.activity" ng-value="'mixed'">Mixed</ion-radio>
        <a class="item item-text-wrap" href="#/tab/quest/1">
            <button class="button button-block button-positive">
                Next
            </button>
        </a>
    </ion-content>
</ion-view>