<ion-view view-title="Tours">
  <ion-content>
    <ion-list>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input ng-model="searchInput" ng-change="searchChanged()" type="text" placeholder="Search">
        </label>
      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="tour in tours" type="item-text-wrap" href="#/tab/tours/{{tour.id}}">
        <h2>{{tour.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(tour)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
