<ion-view view-title="Dashboard">
  <ion-content >
      <div class="list card">
        <div class="item item-divider">
          Live search
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Email">
          </label>
          <button class="button button-small">
            Submit
          </button>
        </div>
        <a class="item item-text-wrap" href="#/tab/quest">
          <button class="button button-block button-positive">
            Block Button
          </button>
        </a>
        <div class="item item-text-wrap">
          <button class="button button-block button-energized">
            Randomize
          </button>
        </div>

    </div>
  </ion-content>
</ion-view>
