<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Результаты поиска">
  <ion-content class="padding-vertical">
    <img class="full-image" src="/img/brazilia.jpg">
    <div class="item-text-wrap padding">
      <h1 class="padding-vertical">Gayorka</h1>
      <h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget rutrum turpis, sed mollis nisi. Nam rutrum magna nec ligula aliquet viverra. Curabitur efficitur, leo ut accumsan semper, mi est blandit dolor, eu ultricies dolor ligula id nulla. Fusce maximus turpis enim, at interdum nisi vulputate vel. Vestibulum fringilla, neque sed blandit tristique, nunc velit maximus dui, vel condimentum neque nunc ut metus. Pellentesque pulvinar, elit eget rhoncus ornare, libero nisl vulputate libero, quis luctus turpis dui sed nisl. Sed massa nisi, bibendum at elit v
      </h4>
    </div>
    <button class="button button-full button-stable">
      <i class="icon ion-ios-star-outline"></i> В избранное 
    </button>
    <button class="button button-full button-balanced">
      <i class="icon ion-ios-telephone-outline"></i> Оставить заявку
    </button> 

  </ion-content>
</ion-view>
