.description {
	overflow: hidden !important;
	white-space: normal !important;
	max-height: 40px!important;
}

.row, .scroll {
  height: 100%;
}

* {
	font-family: "OpenSans" !important;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}

.button {
	font-size: 18px !important;
}

.dashboard .button {
	
}