/* Empty. Add your own CSS if you like */
.description {
	overflow: hidden !important;
	white-space: normal !important;
	max-height: 40px!important;
}

.row, .scroll {
  height: 100%;
}

.button {
	font-size: 18px !important;
}